@page
@model Admin.EndPoint.Pages.Visitor.IndexModel
@{
}
@section Styles{
    <link href="~/Theme/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="~/Theme/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
}

<div class="col-xl-5 col-lg-12 col-md-6 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-table-one">
        <div class="widget-heading">
            <h5 class="">آمار امروز</h5>
        </div>

        <div class="widget-content">
            <div class="transactions-list">
                <div class="t-item">
                    <div class="t-company-name">
                        <div class="t-icon">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </div>
                        </div>
                        <div class="t-name">
                            <h4>تعداد بازدید کنندگان آنلاین </h4>
                            <p class="meta-date"> @Model.OnlineVisitorCount</p>
                        </div>

                    </div>

                </div>
            </div>
            <div class="transactions-list">
                <div class="t-item">
                    <div class="t-company-name">
                        <div class="t-icon">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </div>
                        </div>
                        <div class="t-name">
                            <h4>تعداد بازدید </h4>
                            <p class="meta-date"> @Model.ResultTodayReport.TodayState.PageViews</p>
                        </div>

                    </div>

                </div>
            </div>
            <div class="transactions-list">
                <div class="t-item">
                    <div class="t-company-name">
                        <div class="t-icon">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </div>
                        </div>
                        <div class="t-name">
                            <h4>تعداد بازدید کنندگان</h4>
                            <p class="meta-date"> @Model.ResultTodayReport.TodayState.Visitors</p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="transactions-list">
                <div class="t-item">
                    <div class="t-company-name">
                        <div class="t-icon">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </div>
                        </div>
                        <div class="t-name">
                            <h4>بازدید از صفحه در هر بازدید </h4>
                            <p class="meta-date"> @Model.ResultTodayReport.TodayState.PageViewPerVisit</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-5 col-lg-12 col-md-6 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-table-one">
        <div class="widget-heading">
            <h5 class="">آمار کل بازدید</h5>
        </div>

        <div class="widget-content">
            <div class="transactions-list">
                <div class="t-item">
                    <div class="t-company-name">
                        <div class="t-icon">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </div>
                        </div>
                        <div class="t-name">
                            <h4>تعداد بازدید </h4>
                            <p class="meta-date"> @Model.ResultTodayReport.GeneralState.TotalPageViews</p>
                        </div>

                    </div>

                </div>
            </div>
            <div class="transactions-list">
                <div class="t-item">
                    <div class="t-company-name">
                        <div class="t-icon">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </div>
                        </div>
                        <div class="t-name">
                            <h4>تعداد بازدید کنندگان</h4>
                            <p class="meta-date"> @Model.ResultTodayReport.GeneralState.TotalVisitors</p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="transactions-list">
                <div class="t-item">
                    <div class="t-company-name">
                        <div class="t-icon">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            </div>
                        </div>
                        <div class="t-name">
                            <h4>بازدید از صفحه در هر بازدید </h4>
                            <p class="meta-date"> @Model.ResultTodayReport.GeneralState.PageViewPerVisit</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-table-two">

        <div class="widget-heading">
            <h5 class="">آخرین بازدیدکننده ها</h5>
        </div>

        <div class="widget-content">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><div class="th-content">آی پی</div></th>
                            <th><div class="th-content">لینک</div></th>
                            <th><div class="th-content">لینک ارجاع</div></th>
                            <th><div class="th-content th-heading">سیستم عامل</div></th>
                            <th><div class="th-content">مرورگر</div></th>
                            <th><div class="th-content">خزنده؟</div></th>
                            <th><div class="th-content">زمان</div></th>
                            <th><div class="th-content">شناسه کاربر</div></th>
                        </tr>
                    </thead>
                    <tbody>
                       @foreach (var visitor in Model.ResultTodayReport.Visitors)
                       {
                        <tr>
                            <th><div class="td-content">@visitor.Ip</div></th>
                            <th><div class="td-content">@visitor.CurrentLink</div></th>
                            <th><div class="td-content">@visitor.ReferrerLink</div></th>
                            <th><div class="td-content">@visitor.OperatingSystem</div></th>
                            <th><div class="td-content">@visitor.Browser</div></th>
                            <th><div class="td-content">@(visitor.IsSpider == true ? "بله" : "خیر")</div></th>
                            <th><div class="td-content">@visitor.Time</div></th>
                            <th><div class="td-content"><span class="badge outline-badge-primary">@visitor.VisitorId</span></div></th>
                        </tr>
                       }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="chartLine" class="col-xl-12 layout-top-spacing layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>بازدید امروز</h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            <div id="today-s-line" class=""></div>

        </div>
    </div>
</div>

<div id="chartLine" class="col-xl-12 layout-top-spacing layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>بازدید ماه گذشته</h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            <div id="month-s-line" class=""></div>

        </div>
    </div>
</div>


@section Scripts{
    
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="~/Theme/plugins/apex/apexcharts.min.js"></script>
    <script src="~/Theme/assets/js/dashboard/dash_1.js"></script>

    <script src="~/Theme/assets/js/scrollspyNav.js"></script>

    <script>
        var displayHour = @Html.Raw(Json.Serialize(Model.ResultTodayReport.VisitPerHour.Display));
        var ValueHour = @Html.Raw(Json.Serialize(Model.ResultTodayReport.VisitPerHour.Value));
        // Simple Line
        var TodaySline = {
          chart: {
            height: 350,
            type: 'line',
            zoom: {
              enabled: false
            },
            toolbar: {
              show: false,
            }
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            curve: 'straight'
          },
          series: [{
            name: "بازدید",
            data: ValueHour //[90, 2, 35, 51, 49, 62, 69, 91, 148]
          }],
          title: {
            text: 'تعداد بازدید در هر ساعت',
            align: 'right',
            offsetX: -95,
          },
          grid: {
            row: {
              colors: ['#f1f2f3', 'transparent'], // takes an array which will be repeated on columns
              opacity: 0.5
            },
          },
          xaxis: {
            categories: displayHour //['فروردین', 'اردیبهشت', 'خرداد', 'تیر', 'مرداد', 'شهریور', 'مهر', 'آبان', 'آذر'],
          },
          yaxis: {
            labels: {
              offsetX: -20,
            }
          }
        }

        var todayChart = new ApexCharts(
          document.querySelector("#today-s-line"),
          TodaySline
        );

        todayChart.render();

        //------------------------------------------------

        var displayMonth = @Html.Raw(Json.Serialize(Model.ResultTodayReport.GeneralState.VisitPerDay.Display));
        var ValueMonth = @Html.Raw(Json.Serialize(Model.ResultTodayReport.GeneralState.VisitPerDay.Value));
        // Simple Line
        var MonthSline = {
          chart: {
            height: 350,
            type: 'line',
            zoom: {
              enabled: false
            },
            toolbar: {
              show: false,
            }
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            curve: 'straight'
          },
          series: [{
            name: "بازدید",
            data: ValueMonth //[90, 2, 35, 51, 49, 62, 69, 91, 148]
          }],
          title: {
            text: 'تعداد بازدید در هر روز',
            align: 'right',
            offsetX: -95,
          },
          grid: {
            row: {
              colors: ['#f1f2f3', 'transparent'], // takes an array which will be repeated on columns
              opacity: 0.5
            },
          },
          xaxis: {
            categories: displayMonth //['فروردین', 'اردیبهشت', 'خرداد', 'تیر', 'مرداد', 'شهریور', 'مهر', 'آبان', 'آذر'],
          },
          yaxis: {
            labels: {
              offsetX: -20,
            }
          }
        }

        var monthChart = new ApexCharts(
          document.querySelector("#month-s-line"),
          MonthSline
        );

        monthChart.render();
    </script>
    <!-- END PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
}
